#partners-section .column-container {
  gap: 50px;
  align-items: center;
  text-align: center;
}

#partners-section .partner-text {
  padding: 1rem 4rem;
}

#partners-section .partner-images {
  display: flex;
  justify-content: space-evenly;
  width: 70%;
}

.partner-text p {
  font-size: 21px;
  font-weight: 500;
}

.partner-images img {
  height: 60px;
}
