#network-section .row-container {
  justify-content: space-between;
}

#network-section .left {
  padding-right: 4rem;
}

#network-section .left h2 {
  font-size: 3rem;
  font-weight: 900;
}
#network-section .left p {
  font-size: 27px;
  font-weight: 500;
}
